
<!DOCTYPE html>
<html>
<head>

    <title></title>




</head>
<body>
{% include 'components/a.twig' %}
To naprawdę działa !!! hahaha

dasdasdds
dsd

ss
<script  type="text/javascript" src="/vendor.js"></script>
<script  type="text/javascript" src="/app.js"></script>
</body>
</html>