
<!DOCTYPE html>
<html>
<head>

    <title></title>





</head>
<body>
<h1>FrontEnd Workflow</h1>
{% include 'tpl/components/new.twig' %}
<i class="icon icon-uEA14-lock" ></i>
<script  type="text/javascript" src="/vendor.js"></script>
<script  type="text/javascript" src="/app.js"></script>
</body>
</html>