<!DOCTYPE html>
<html>
<head>
    <title>Front-End Developer Tool</title>
    <base href="/">
</head>
<body>
{% include 'tpl/components/start.twig' %}

{% include 'tpl/components/tail.twig' %}
{#<script type="text/javascript" src="/vendor.js"></script>#}
{#<script type="text/javascript" src="/app.js"></script>#}
</body>
</html>