
<!DOCTYPE html>
<html>
<head>

    <title></title>




</head>
<body>
{% include 'components/a.twig' %}
To naprawdę działa !!! hahaha

<script  type="text/javascript" src="//localhost:3005/vendor.js"></script>
<script  type="text/javascript" src="//localhost:3005/app.js"></script>
</body>
</html>