@font-face {
	font-family: "icons";
	src: url("../assets/fonts/icons.eot?920367596326b6fd5c21e1b9089758c5?#iefix") format("embedded-opentype"),
url("../assets/fonts/icons.woff2?920367596326b6fd5c21e1b9089758c5") format("woff2"),
url("../assets/fonts/icons.woff?920367596326b6fd5c21e1b9089758c5") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-uEA14-lock:before {
	content: "\f101";
}
