body{
    background-color: lightblue;
    font-family:Arial;
    img {
        margin: 0 auto;
        display: block;
    }
    h1{
        text-align: center;
    }
    h4{
        text-align: center;
        color: gray;
    }
    h5{
        text-align: center;
        color: gray;
    }
}