body{
    background-color: #c0c0c0;
    font-family:'Arial';
    h1{
        text-align: center;
        color: #000000;
    }
    p{
        text-align: center;
        font-size:17px;
    }
    i{
        color: red;
        font-size:60px;
        background-color: #fff;
        border-radius:50%;
        height: 50px;
        width: 50px;
        display: block;

    }
}