<img src="assets/img/FDT-logo.png" alt="">
<h1>Front-End Developer Tool [FDT]</h1>
<h4><code>Created By (c) Sławek Król <a href="https://github.com/DevQuayle">(DevQuayle)</a>  < krol.slawek1@gmail.com ></code> </h4>
<h5><code>ver 1.0.1</code></h5>